<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>



<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
             <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
             <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a></div>
        <div class="col-sm-4"></div>
    </div>
    <%= render 'layouts/login_modal' %>
</div>
 
 <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fill cancelled appointments fast</h1>
                <h2>Reward loyal customers at the same time</h2>
                <hr>
                <p>Last Minute List recovers losses from cancelled appointments. It works for salons, spas and restaurants</p>
                <h1 id="headline"></h1>
                <h2 id="subheadline"></h2>
                <a href="/main" class="btn btn-primary btn-xl page-scroll">View Demo</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">Problem</h1>
                    <h2>Cancellations cost money.</h2>
                    <h2>Group deals reward customers who don’t stick around.</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Fancy Things the App Does</h1>
                    <h2>_</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-usd wow bounceIn text-primary"></i>
                        <h3>Makes You Money</h3>
                        <p class="text-muted">Ch-Ching! This app can make you money.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Customers Love It</h3>
                        <p class="text-muted">People really seem to like deals.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Builds Loyalty</h3>
                        <p class="text-muted">Rewards your best customers with deals.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-share-alt wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Spreads the Word</h3>
                        <p class="text-muted">Customers are free to share.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">Footer</h1>
                    <h2>Will go down here.</h2>
                </div>
            </div>
        </div>
    </section>