<footer class="footer footer-transparent">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        About
                    </a>
                </li>
                <li>
                    <a href="#">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#">
                       Login
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; 2016 Last Minute List, Made in Brooklyn
        </p>
    </div>
</footer>